<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <!-- <div class="btn-group">
        <a class="btn btn-sm btn-primary" routerLink="detail">ข้อมูลคนไข้</a>
        <a routerLink="/menuviewdetail" class="btn btn-sm btn-outline-primary">ฟีโนไทป์</a>
      </div> -->
    </div>
  </div>
  <div style="color:#365082">
    <h2>รายละเอียดคนไข้</h2>
    <button type="button" class="btn btn-sm btn-outline-primary" routerLink="/test/edit" *ngIf="currentURL == '/test/detail'">แก้ไขข้อมูลคนไข้</button>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-sm table-striped table-bordered table-hover">
        <tbody *ngFor="let patient of patients;">
          <tr>
            <td>รหัสบัตรประชาชน</td>
            <td>{{patient.id}}</td>
          </tr>
          <tr>
            <td>ชื่อ-นามสกุล</td>
            <td>{{patient.fName+" "+patient.lName}}</td>
          </tr>
          <tr>
            <td>วันเดือนปีเกิด</td>
            <td>{{patient.birthDay}}</td>
          </tr>
          <tr>
            <td>อายุ (ปี)</td>
            <td>27</td>
          </tr>
          <tr>
            <td>เบอร์ติดต่อ 1</td>
            <td>{{patient.tel1}}</td>
          </tr>
          <tr>
            <td>เบอร์ติดต่อ 2</td>
            <td>{{patient.tel2}}</td>
          </tr>
          <tr>
            <td>ที่อยู่</td>
            <td>{{patient.address}}</td>
          </tr>
          <tr>
            <td>ตำบล</td>
            <td>{{patient.subDistrict}}</td>
          </tr>
          <tr>
            <td>อำเภอ</td>
            <td>{{patient.district}}</td>
          </tr>
          <tr>
            <td>จังหวัด</td>
            <td>{{patient.province}}</td>
          </tr>
          <tr>
            <td>รหัสไปรษณีย์</td>
            <td>{{patient.zip}}</td>
          </tr>
          <tr>
            <td>หมู่เลือด</td>
            <td class="text-red">{{patient.result.result}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col" *ngFor="let patient of patients;">
      <h5>ฟีโนไทป์</h5>
      <div class="row">
        <div class="col-md">
          <td class="text-green">
            <button (click)="phenotype(patient.id,'Abo')" class="btn btn-sm btn-outline-warning" *ngIf="currentURL == '/test/detail'">ฟีโนไทป์:เอบีโอ</button>
          </td>
        </div>
        <div class="col-md" >
          <td class="text-green" *ngIf="patient.resultAbo.resultAbo != '-'">
            <button (click)="phenotype(patient.id,'Antibody')" class="btn btn-sm btn-outline-warning" *ngIf="currentURL == '/test/detail'">ฟีโนไทป์:แอนติบอดี</button>
          </td>
        </div>
        <div class="col-md" >
          <td class="text-green" *ngIf="patient.resultAbo.resultAbo != '-'">
            <button (click)="phenotype(patient.id,'Saliva')" class="btn btn-sm btn-outline-warning" *ngIf="currentURL == '/test/detail'">ฟีโนไทป์:น้ำลาย</button>
          </td>
        </div>
      </div>
      <br>
      <table class="table table-sm table-striped table-bordered table-hover">
        <thead class="thead-table">
          <tr>
            <th>การตรวจหมู่เลือดเอบีโอ</th>
            <th>การตรวจกรองแอนติบอดี</th>
            <th>การตรวจน้ำลาย</th>
          </tr>
        </thead>
        <tbody *ngFor="let patient of patients;">
          <tr>
            <td>{{patient.resultAbo.resultAbo}}</td>
            <td>{{patient.resultAntibody.resultAntibody}}</td>
            <td>{{patient.resultSaliva.resultSaliva}}</td>
          </tr>
          <tr>
            <td colspan="3">{{patient.result.result}}</td>
          </tr>
        </tbody>
      </table>
      <!-- <h5>จีโนไทป์</h5>
      <table class="table table-sm table-striped table-bordered table-hover table-responsive">
        <thead class="thead-dark">
          <tr>
            <th>เอบีโอ</th>
            <th>FUT1</th>
            <th>FUT2</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>O
              <sup>1</sup>O
              <sup>2</sup>
            </td>
            <td>328G>A</td>
            <td>357C>T</td>
          </tr>
          <tr>
            <td colspan="3">O para-Bombay</td>
          </tr>
        </tbody>
      </table> -->
      <br>
      <div *ngIf="patient.resultAbo.resultAbo != '-'" class="text-center">
        <button type="button" routerLink="/test/detaillist" class="btn btn-outline-success btn-sm" *ngIf="currentURL == '/test/detail'">รายละเอียดการทดลอง</button>
      </div>
    </div>
  </div>


  <!-- <div class="row">
    <div class="col">
      <h3 style="color:#1F7FF0">ความสัมพันธ์ที่เกี่ยวข้องกับคนไข้</h3>
      <button type="button" class="btn btn-sm btn-outline-primary" (click)="editRelatives(message)" *ngIf="currentURL == '/test/detail'">แก้ไขความสัมพันธ์</button>
      <div *ngIf="relatives.length != 0;else isNull">
        <table class="table table-sm table-striped table-bordered table-hover">
          <thead class="thead-table">
            <tr>
              <th>รหัสบัตรประชาชน</th>
              <th>ชื่อ</th>
              <th>นามสกุล</th>
              <th>ความสัมพันธ์</th>
              <th>หมู่เลือด</th>
              <th>รายละเอียด</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let relative of relatives;">
              <td>{{relative.patientId}}</td>
              <td>{{relative.fName}}</td>
              <td>{{relative.lName}}</td>
              <td>{{relative.relativeName}}</td>
              <td class="text-yellow">{{relative.group}}</td>
              <td>
                <button (click)="viewDetail(relative.patientId)" class="btn btn-sm btn-outline-primary">รายละเอียด</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <ng-template #isNull>
        <div class="alert alert-warning container" role="alert" style="text-align:center;">
          <h4 class="alert-heading">ไม่พบข้อมูลความสัมพันธ์คนไข้</h4>
          <hr>
          <p class="alert-heading">กดแก้ไขความสัมพันธ์ เพื่อเพิ่ม</p>
        </div>
      </ng-template>
    </div>

  </div>
  <br>
  <div class="row">
    <div class="col text-center" *ngIf="currentURL == '/test/detail';else blood">
      <a class="text-muted" [routerLink]="['/test']">ย้อนกลับ</a>
    </div>
    <ng-template #blood>
      <div class="col text-center">
        <a class="text-muted" [routerLink]="['/blood']">ย้อนกลับ</a>
      </div>
    </ng-template>
  </div> -->
</div>