<!-- <div class="py-1" id="wrapper">
  <div class="container-col"> -->
<div class="container-fluid">
  <!-- <div *ngIf="relative == isloading; else notRelatives"> -->
  <div>
    <form (ngSubmit)="validationForm(condition)" [formGroup]="conditionForm" #condition="ngForm">
      <div class="py-3 border border-primary">
        <div class="container-fluid">

          <!-- <div class="text-red">12/31/2017 01:30 PM (ดด/วว/ปป ชั่วโมง:วินาที)</div> -->

          <div class="row">
            <div class="col-md-12">
              <h2 style="color:#365082">สร้างเงื่อนไข: การตรวจหมู่เลือดเอบีโอ</h2>
              <div class="row">

                <div class="col-md-6">
                  <div class="py-1 text-center bg-light border border-primary">
                    <div class="container">
                      <div class="row">
                        <div class="col-11">
                          <h4>Cell Grouping</h4>
                        </div>
                        <div class="col-1">
                          <button type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <h5 class="text-left">Anti-A</h5>
                          <div class="custom-controls-stacked">
                            <label class="custom-control custom-radio">
                              <input id="Anti-A1" type="radio" class="custom-control-input" value="4" formControlName="AntiA" [checked]>
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">4+</span>
                            </label>
                            <label class="custom-control custom-radio">
                              <input id="Anti-A2" type="radio" class="custom-control-input" value="3" formControlName="AntiA" [checked]>
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">3+</span>
                            </label>
                            <label class="custom-control custom-radio">
                              <input id="Anti-A3" type="radio" class="custom-control-input" value="2" formControlName="AntiA" [checked]>
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">2+</span>
                            </label>
                            <label class="custom-control custom-radio">
                              <input id="Anti-A4" type="radio" class="custom-control-input" value="1" formControlName="AntiA" [checked]>
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">1+</span>
                            </label>
                            <label class="custom-control custom-radio">
                              <input id="Anti-A5" type="radio" class="custom-control-input" value="0" formControlName="AntiA" [checked]>
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">Neg</span>
                            </label>
                          </div>
                        </div>
                        <div class="col">
                          <h5 class="text-left">Anti-B</h5>
                          <div class="custom-controls-stacked">
                            <label class="custom-control custom-radio">
                              <input id="Anti-B1" type="radio" class="custom-control-input" value="4" formControlName="AntiB" [checked]>
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">4+</span>
                            </label>
                            <label class="custom-control custom-radio">
                              <input id="Anti-B2" type="radio" class="custom-control-input" value="3" formControlName="AntiB" [checked]>
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">3+</span>
                            </label>
                            <label class="custom-control custom-radio">
                              <input id="Anti-B3" type="radio" class="custom-control-input" value="2" formControlName="AntiB" [checked]>
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">2+</span>
                            </label>
                            <label class="custom-control custom-radio">
                              <input id="Anti-B4" type="radio" class="custom-control-input" value="1" formControlName="AntiB" [checked]>
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">1+</span>
                            </label>
                            <label class="custom-control custom-radio">
                              <input id="Anti-B5" type="radio" class="custom-control-input" value="0" formControlName="AntiB" [checked]>
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">Neg</span>
                            </label>
                          </div>
                        </div>
                        <div class="col">
                          <h5 class="text-left">Anti-A,B</h5>
                          <div class="custom-controls-stacked">
                            <label class="custom-control custom-radio">
                              <input id="Anti-AB1" type="radio" class="custom-control-input" value="4" formControlName="AntiAB" [checked]>
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">4+</span>
                            </label>
                            <label class="custom-control custom-radio">
                              <input id="Anti-AB2" type="radio" class="custom-control-input" value="3" formControlName="AntiAB" [checked]>
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">3+</span>
                            </label>
                            <label class="custom-control custom-radio">
                              <input id="Anti-AB3" type="radio" class="custom-control-input" value="2" formControlName="AntiAB" [checked]>
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">2+</span>
                            </label>
                            <label class="custom-control custom-radio">
                              <input id="Anti-AB4" type="radio" class="custom-control-input" value="1" formControlName="AntiAB" [checked]>
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">1+</span>
                            </label>
                            <label class="custom-control custom-radio">
                              <input id="Anti-AB5" type="radio" class="custom-control-input" value="0" formControlName="AntiAB" [checked]>
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">Neg</span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="col-md-6"> </div> -->
                </div>


                <div class="col-md-6">
                  <div class="py-1 text-center bg-light border border-primary">
                    <div class="container">


                      <div class="row">
                        <div class="col-11">
                          <h4>Serum Grouping</h4>
                        </div>
                        <div class="col-1">
                          <button type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <h5 class="text-left">A cells</h5>
                          <div class="custom-controls-stacked">
                            <label class="custom-control custom-radio">
                              <input id="Acell1" type="radio" class="custom-control-input" value="4" formControlName="Acell" [checked]>
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">4+</span>
                            </label>
                            <label class="custom-control custom-radio">
                              <input id="Acell2" type="radio" class="custom-control-input" value="3" formControlName="Acell" [checked]>
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">3+</span>
                            </label>
                            <label class="custom-control custom-radio">
                              <input id="Acell3" type="radio" class="custom-control-input" value="2" formControlName="Acell" [checked]>
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">2+</span>
                            </label>
                            <label class="custom-control custom-radio">
                              <input id="Acell4" type="radio" class="custom-control-input" value="1" formControlName="Acell" [checked]>
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">1+</span>
                            </label>
                            <label class="custom-control custom-radio">
                              <input id="Acell5" type="radio" class="custom-control-input" value="0" formControlName="Acell" [checked]>
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">Neg</span>
                            </label>
                          </div>
                        </div>
                        <div class="col">
                          <h5 class="text-left">B cells</h5>
                          <div class="custom-controls-stacked">
                            <label class="custom-control custom-radio">
                              <input id="Bcell1" type="radio" class="custom-control-input" value="4" formControlName="Bcell" [checked]>
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">4+</span>
                            </label>
                            <label class="custom-control custom-radio">
                              <input id="Bcell2" type="radio" class="custom-control-input" value="3" formControlName="Bcell" [checked]>
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">3+</span>
                            </label>
                            <label class="custom-control custom-radio">
                              <input id="Bcell3" type="radio" class="custom-control-input" value="2" formControlName="Bcell" [checked]>
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">2+</span>
                            </label>
                            <label class="custom-control custom-radio">
                              <input id="Bcell4" type="radio" class="custom-control-input" value="1" formControlName="Bcell" [checked]>
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">1+</span>
                            </label>
                            <label class="custom-control custom-radio">
                              <input id="Bcell5" type="radio" class="custom-control-input" value="0" formControlName="Bcell" [checked]>
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">Neg</span>
                            </label>
                          </div>
                        </div>
                        <div class="col">
                          <h5 class="text-left">O cells</h5>
                          <div class="custom-controls-stacked">
                            <label class="custom-control custom-radio">
                              <input id="O-cell1" type="radio" class="custom-control-input" value="4" formControlName="Ocell" [checked]>
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">4+</span>
                            </label>
                            <label class="custom-control custom-radio">
                              <input id="Ocell2" type="radio" class="custom-control-input" value="3" formControlName="Ocell" [checked]>
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">3+</span>
                            </label>
                            <label class="custom-control custom-radio">
                              <input id="Ocell3" type="radio" class="custom-control-input" value="2" formControlName="Ocell" [checked]>
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">2+</span>
                            </label>
                            <label class="custom-control custom-radio">
                              <input id="Ocell4" type="radio" class="custom-control-input" value="1" formControlName="Ocell" [checked]>
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">1+</span>
                            </label>
                            <label class="custom-control custom-radio">
                              <input id="Ocell5" type="radio" class="custom-control-input" value="0" formControlName="Ocell" [checked]>
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">Neg</span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <p>การแปลผล</p>
              <select class="form-control form-control-sm" formControlName="groupAbo" id="checkStep">
                <option value="Group A">Group A</option>
                <option value="Group B">Group B</option>
                <option value="Group AB">Group AB</option>
                <option value="Group O">Group O</option>
                <option value="Group A with unexpected alloantibody">Group A with unexpected alloantibody</option>
                <option value="Group B with unexpected alloantibody">Group B with unexpected alloantibody</option>
                <option value="Group AB with unexpected alloantibody">Group AB with unexpected alloantibody</option>
                <option value="Group O with unexpected alloantibody">Group O with unexpected alloantibody</option>
              </select>
              <br>
            </div>
          </div>

          <label class="custom-control custom-checkbox">
            <input id="radio-serology1" name="checkbox" type="checkbox" class="custom-control-input" (change)="groupAboChange($event)">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">เพิ่มเงื่อนไขการตรวจน้ำลาย</span>
          </label>
          <div class="row">
            <div class="col">
              <!-- <label class="btn btn-sm btn-outline-secondary">
              Add Photo
              <input type="file" hidden id="photoBtn">
            </label> -->
            </div>
            <div class="col-5">
              <!-- <a href="#" id="editBtn" class="btn btn-warning btn-block" onclick="canEdit();" style="display:none" >Edit</a>
                              <a href="#" id="anaBtn" class="btn btn-success btn-block" onclick="showAnalysis();" >บันทึก</a> -->
              <div id="tempNotFound" style="display: none;color:red">
                <h5>group O with unexpected alloantibody</h5>
              </div>
            </div>
          </div>

        </div>
      </div>
      <br>

      <!-- <div class="py-1" id="wrapper">
      <div class="container-col"> -->
      <div class="py-3 border border-primary" id="saliva" style="display: none;">
        <div class="container-fluid">

          <!-- <div class="text-red">12/31/2017 01:30 PM (ดด/วว/ปป ชั่วโมง:วินาที)</div> -->

          <div class="row">
            <div class="col-md-12">
              <h2 style="color:#365082">สร้างเงื่อนไข: การตรวจน้ำลาย</h2>

              <div class="row">

                <div class="col-md-6">
                  <div class="py-1 text-center bg-light border border-primary">
                    <div class="container">

                      <div class="row">
                        <div class="col-11">
                          <h4>Controls</h4>
                        </div>
                        <div class="col-1">
                          <button type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <h5 class="text-left">Secretor</h5>
                          <div class="custom-controls-stacked">
                            <label class="custom-control custom-radio">
                              <input id="secretor1" type="radio" class="custom-control-input" value="4" formControlName="secretor" [checked]>
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">4+</span>
                            </label>
                            <label class="custom-control custom-radio">
                              <input id="secretor2" type="radio" class="custom-control-input" value="3" formControlName="secretor" [checked]>
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">3+</span>
                            </label>
                            <label class="custom-control custom-radio">
                              <input id="secretor3" type="radio" class="custom-control-input" value="2" formControlName="secretor" [checked]>
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">2+</span>
                            </label>
                            <label class="custom-control custom-radio">
                              <input id="secretor4" type="radio" class="custom-control-input" value="1" formControlName="secretor" [checked]>
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">1+</span>
                            </label>
                            <label class="custom-control custom-radio">
                              <input id="secretor5" type="radio" class="custom-control-input" value="0" formControlName="secretor" [checked]>
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">Neg</span>
                            </label>
                          </div>
                        </div>
                        <div class="col">
                          <h5 class="text-left">Non-secretor</h5>
                          <div class="custom-controls-stacked">
                            <label class="custom-control custom-radio">
                              <input id="non-secretor1" type="radio" class="custom-control-input" value="4" formControlName="nonSecretor" [checked]>
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">4+</span>
                            </label>
                            <label class="custom-control custom-radio">
                              <input id="non-secretor2" type="radio" class="custom-control-input" value="3" formControlName="nonSecretor" [checked]>
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">3+</span>
                            </label>
                            <label class="custom-control custom-radio">
                              <input id="non-secretor3" type="radio" class="custom-control-input" value="2" formControlName="nonSecretor" [checked]>
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">2+</span>
                            </label>
                            <label class="custom-control custom-radio">
                              <input id="non-secretor4" type="radio" class="custom-control-input" value="1" formControlName="nonSecretor" [checked]>
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">1+</span>
                            </label>
                            <label class="custom-control custom-radio">
                              <input id="non-secretor5" type="radio" class="custom-control-input" value="0" formControlName="nonSecretor" [checked]>
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">Neg</span>
                            </label>
                          </div>
                        </div>
                        <div class="col">
                          <h5 class="text-left">NSS</h5>
                          <div class="custom-controls-stacked">
                            <label class="custom-control custom-radio">
                              <input id="nss1" type="radio" class="custom-control-input" value="4" formControlName="nss" [checked]>
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">4+</span>
                            </label>
                            <label class="custom-control custom-radio">
                              <input id="nss2" type="radio" class="custom-control-input" value="3" formControlName="nss" [checked]>
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">3+</span>
                            </label>
                            <label class="custom-control custom-radio">
                              <input id="nss3" type="radio" class="custom-control-input" value="2" formControlName="nss" [checked]>
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">2+</span>
                            </label>
                            <label class="custom-control custom-radio">
                              <input id="nss4" type="radio" class="custom-control-input" value="1" formControlName="nss" [checked]>
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">1+</span>
                            </label>
                            <label class="custom-control custom-radio">
                              <input id="nss5" type="radio" class="custom-control-input" value="0" formControlName="nss" [checked]>
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">Neg</span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="col-md-6"> </div> -->
                </div>



                <div class="col-md-6">
                  <div class="py-1 text-center bg-light border border-primary">
                    <div class="container">


                      <div class="row">
                        <div class="col-11">
                          <h4>Tests</h4>
                        </div>
                        <div class="col-1">
                          <button type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <h5 class="text-left">Anti-A</h5>
                          <div class="custom-controls-stacked">
                            <label class="custom-control custom-radio">
                              <input id="Test-Anti-A1" type="radio" class="custom-control-input" value="4" formControlName="TestAntiA" [checked]>
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">4+</span>
                            </label>
                            <label class="custom-control custom-radio">
                              <input id="Test-Anti-A2" type="radio" class="custom-control-input" value="3" formControlName="TestAntiA" [checked]>
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">3+</span>
                            </label>
                            <label class="custom-control custom-radio">
                              <input id="Test-Anti-A3" type="radio" class="custom-control-input" value="2" formControlName="TestAntiA" [checked]>
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">2+</span>
                            </label>
                            <label class="custom-control custom-radio">
                              <input id="Test-Anti-A4" type="radio" class="custom-control-input" value="1" formControlName="TestAntiA" [checked]>
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">1+</span>
                            </label>
                            <label class="custom-control custom-radio">
                              <input id="Test-Anti-A5" type="radio" class="custom-control-input" value="0" formControlName="TestAntiA" [checked]>
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">Neg</span>
                            </label>
                          </div>
                        </div>
                        <div class="col">
                          <h5 class="text-left">Anti-B</h5>
                          <div class="custom-controls-stacked">
                            <label class="custom-control custom-radio">
                              <input id="Test-Anti-B1" type="radio" class="custom-control-input" value="4" formControlName="TestAntiB" [checked]>
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">4+</span>
                            </label>
                            <label class="custom-control custom-radio">
                              <input id="Test-Anti-B2" type="radio" class="custom-control-input" value="3" formControlName="TestAntiB" [checked]>
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">3+</span>
                            </label>
                            <label class="custom-control custom-radio">
                              <input id="Test-Anti-B3" type="radio" class="custom-control-input" value="2" formControlName="TestAntiB" [checked]>
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">2+</span>
                            </label>
                            <label class="custom-control custom-radio">
                              <input id="Test-Anti-B4" type="radio" class="custom-control-input" value="1" formControlName="TestAntiB" [checked]>
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">1+</span>
                            </label>
                            <label class="custom-control custom-radio">
                              <input id="Test-Anti-B5" type="radio" class="custom-control-input" value="0" formControlName="TestAntiB" [checked]>
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">Neg</span>
                            </label>
                          </div>
                        </div>
                        <div class="col">
                          <h5 class="text-left">Anti-H lectin</h5>
                          <div class="custom-controls-stacked">
                            <label class="custom-control custom-radio">
                              <input id="Anti-H1" type="radio" class="custom-control-input" value="4" formControlName="TestAntiH" [checked]>
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">4+</span>
                            </label>
                            <label class="custom-control custom-radio">
                              <input id="Anti-H2" type="radio" class="custom-control-input" value="3" formControlName="TestAntiH" [checked]>
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">3+</span>
                            </label>
                            <label class="custom-control custom-radio">
                              <input id="Anti-H3" type="radio" class="custom-control-input" value="2" formControlName="TestAntiH" [checked]>
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">2+</span>
                            </label>
                            <label class="custom-control custom-radio">
                              <input id="Anti-H4" type="radio" class="custom-control-input" value="1" formControlName="TestAntiH" [checked]>
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">1+</span>
                            </label>
                            <label class="custom-control custom-radio">
                              <input id="Anti-H5" type="radio" class="custom-control-input" value="0" formControlName="TestAntiH" [checked]>
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">Neg</span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <p>การแปลผล</p>

              <select class="form-control form-control-sm" formControlName="groupSaliva">
                <option value="Secretor gr.A">Secretor gr.A</option>
                <option value="Secretor gr.B">Secretor gr.B</option>
                <option value="Secretor gr.AB">Secretor gr.AB</option>
                <option value="Secretor gr.O">Secretor gr.O</option>
                <option value="Non-Secretor">Non-Secretor</option>
              </select>
              <br>
            </div>
          </div>


          <div class="row">
            <div class="col">
              <!-- <label class="btn btn-sm btn-outline-secondary">
                  Add Photo
                  <input type="file" hidden id="photoBtn">
                </label> -->
            </div>
            <div class="col-5">
              <!-- <a href="#" id="editBtn" class="btn btn-warning btn-block" onclick="canEdit();" style="display:none" >Edit</a>
                                  <a href="#" id="anaBtn" class="btn btn-success btn-block" onclick="showAnalysis();" >บันทึก</a> -->
              <div id="tempNotFound" style="display: none;color:red">
                <h5>group O with unexpected alloantibody</h5>
              </div>
            </div>
          </div>

        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-4 text-center">
          <a class="text-muted" [routerLink]="['/conditions']">ย้อนกลับ</a>
        </div>
        <!-- <div class="col-sm-4"></div> -->
        <div class="col-12 col-md-4 text-center">
          <button type="submit" id="anaBtn" class="btn btn-sm btn-success " style="text-align:center">สร้างเงื่อนไข</button>
        </div>
      </div>
    </form>
  </div>

  <!-- <br>
<div class="alert alert-danger" role="alert" *ngIf="!validationSuccess;">
  กรุณากรอกข้อมูลให้ครบถ้วน
</div> -->

  <br>
  <!-- <center>
                          <button type="button" id="anaBtn" class="btn btn-sm btn-success " onclick="showAnalysis();">บันทึก</button>
                        </center> -->

  <!-- <br> -->
  <!-- <a href="phenotype1more.php" class="btn btn-dark" onclick="addTest();">More</a> -->
  <!-- </div>
            </div> -->