<!-- <div class="py-1"> -->
<div class="container-fluid">
  <h2 style="color:#365082">แก้ไข้ข้อมูลคนไข้</h2>

  <form (ngSubmit)="validationForm(condition)" [formGroup]="conditionForm" #condition="ngForm">

    <div class="row">

      <div class="col">
        รหัสบัตรประชาชน
        <input type="text" class="form-control form-control-sm" placeholder="รหัสบัตรประชาชน 13 หลัก" formControlName="id" [(ngModel)]="patientId"
          value={{patientId}} readonly>
        <!-- <input type="text" class="form-control form-control-sm" placeholder="รหัสบัตรประชาชน 13 หลัก"> -->

        <div class="row">
          <div class="col">
            คำนำหน้าชื่อ&nbsp;
            <select id="minit" class="form-control form-control-sm" formControlName="minit" [(ngModel)]="minit" value={{patientminit}}>
              <!-- <select id="minit" class="form-control form-control-sm"> -->

              <option value="นาย">นาย</option>
              <option value="นาง">นาง</option>
              <option value="นางสาว" selected>นางสาว</option>
              <option value="เด็กชาย">เด็กชาย</option>
              <option value="เด็กหญิง">เด็กหญิง</option>
            </select>
          </div>
          <div class="col">
            ชื่อ
            <input type="text" class="form-control form-control-sm" [(ngModel)]="patientfName" value={{patientfName}} formControlName="fName">
            <!-- <input type="text" class="form-control form-control-sm" value="พัชราภา"> -->

          </div>
          <div class="col">
            นามสกุล
            <input type="text" class="form-control form-control-sm" [(ngModel)]="patientlName" value={{patientlName}} formControlName="lName">
            <!-- <input type="text" class="form-control form-control-sm" value="ไชยเชื้อ"> -->

          </div>
        </div>
        <div class="row">
          <div class="col">
            วันเดือนปีเกิด
            <input type="date" class="form-control form-control-sm" [(ngModel)]="patientbirthDay" value={{patientbirthDay}} formControlName="birthDay" (change)="setAge($event)">
            <!-- <input type="date" class="form-control form-control-sm" value="1995-10-11"> -->

          </div>
          <div class="col">
            อายุ (ปี)
            <input type="text" class="form-control form-control-sm" formControlName="age" [(ngModel)]="age" value={{age}} readonly>
            <!-- <input type="text" class="form-control form-control-sm" value="22"> -->

          </div>
        </div>
        <div class="row">
          <div class="col">
            เบอร์ติดต่อ1
            <input type="text" class="form-control form-control-sm" [(ngModel)]="patientminit" value={{patienttel1}} formControlName="tel1">
            <!-- <input type="number" class="form-control form-control-sm" value="0895564203" > -->

          </div>
          <div class="col">
            เบอร์ติดต่อ2
            <input type="text" class="form-control form-control-sm" [(ngModel)]="patienttel2" value={{patienttel2}} formControlName="tel2">
            <!-- <input type="number" class="form-control form-control-sm" value="0994264286"> -->

          </div>
        </div>
      </div>
      <div class="col">

        ที่อยู่
        <input type="text" class="form-control form-control-sm" [(ngModel)]="patientaddress" [value]="patientaddress" formControlName="address">
        <!-- <input type="text" class="form-control form-control-sm" value="239 ถ. ห้วยแก้ว"> -->

        <div class="row">
          <div class="col">
            จังหวัด {{this.province}}
            <select class="form-control form-control-sm" formControlName="province" [(ngModel)]="province" (change)="selectDistrict($event,$event.target.value)">
              <option *ngFor='let province of provinces' [value]="province">{{province}}
              </option>
            </select>
          </div>
          <div class="col">
            อำเภอ {{this.district}}
            <!-- <select class="form-control form-control-sm" formControlName="district" value={{patient.district}}>
              <option selected="selected" value="{{patient.district}}">{{patient.district}}</option>
            </select> -->
            <select class="form-control form-control-sm" formControlName="district" [(value)]="district" name="district" [(ngModel)]="district"
              (change)="selectSubDistrict($event,$event.target.value)">
              <option *ngFor='let district of districts' [value]="district">{{district}}</option>
            </select>
          </div>
        </div>
        <div class="row">

          <div class="col">
            ตำบล {{this.subDistrict}}
            <br>
            <select class="form-control form-control-sm" formControlName="subDistrict" name="subDistrict" [(ngModel)]="subDistrict" (change)="selectZipcode($event,$event.target.value)">
              <option *ngFor="let subDistrict of subDistricts" value="{{subDistrict}}">{{subDistrict}}</option>
            </select>
            <!-- <select class="form-control form-control-sm" formControlName="subDistrict" value={{patient.subDistrict}}>
                <option selected="selected" value="{{patient.subDistrict}}">{{patient.subDistrict}}</option>
            </select> -->
          </div>
          <div class="col">
            รหัสไปรษณีย์
            <div class="row">
              <div class="col">
                <input type="text" class="form-control form-control-sm" [(ngModel)]="zipcode" [value]="zipcode" formControlName="zipcode">
                <!-- <input type="text" class="form-control form-control-sm" value={{patient.zip}} formControlName="zip"> -->

              </div>
            </div>
          </div>
        </div>

        <br>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-4 text-center">
        <a class="text-muted" [routerLink]="['/test/detail']">ย้อนกลับ</a>
      </div>
      <!-- <div class="col-sm-4"></div> -->
      <div class="col-12 col-md-4 text-center">
        <button type="submit" id="anaBtn" class="btn btn-sm btn-outline-primary" style="text-align:center">บันทึก</button>

      </div>
    </div>

  </form>


  <br>
</div>
<!-- </div> -->