<div class="container-fluid">
  <div style="color:#365082">
    <h2>จัดการข้อมูลการเรียนรู้</h2>
  </div>
  <button routerLink="create" class="btn btn-sm btn-outline-primary">เพิ่มข้อมูลการเรียนรู้</button>
  <button (click)="trainNewModel($event)" class="btn btn-sm btn-outline-primary">ทำการเรียนรู้</button>
  <!-- <form (ngSubmit)="searchCondition(condition)" [formGroup]="searchConditionForm" #condition="ngForm">   -->
  <form (ngSubmit)="searchCondition(condition)" [formGroup]="searchConditionForm" #condition="ngForm">
    <div class="row">
      <div class="col-5">

        การแปลผล : การตรวจหมู่เลือดเอบีโอ
        <select class="form-control form-control-sm" formControlName="groupAbo">

          <!-- <option value="null"></option> -->
          <option value="all" selected>ทั้งหมด</option>
          <option value="Group A">Group A</option>
          <option value="Group B">Group B</option>
          <option value="Group AB">Group AB</option>
          <option value="Group O">Group O</option>
          <option value="Group O Bombay">Group O Bombay</option>
          <option value="Group A with unexpected alloantibody">Group A with unexpected alloantibody</option>
          <option value="Group B with unexpected alloantibody">Group B with unexpected alloantibody</option>
          <option value="Group AB with unexpected alloantibody">Group AB with unexpected alloantibody</option>
          <option value="Group O with unexpected alloantibody">Group O with unexpected alloantibody</option>
        </select>


      </div>
      <!-- <div class="col-3">

        การแปลผล : การตรวจกรองแอนติบอดี
        <select class="form-control form-control-sm">
          <option value="audi"></option>
          <option value="audi">ทั้งหมด</option>
          <option value="volvo">Group A</option>
          <option value="volvo">Group B</option>
          <option value="volvo">Group AB</option>
          <option value="volvo">Group O</option>
          <option value="volvo">Group O Bombay</option>
          <option value="volvo">Group A with unexpected alloantibody</option>
          <option value="volvo">Group B with unexpected alloantibody</option>
          <option value="volvo">Group AB with unexpected alloantibody</option>
          <option value="volvo">Group O with unexpected alloantibody</option>
        </select>


      </div> -->
      <div class="col-5">

        การแปลผล : การตรวจน้ำลาย
        <select class="form-control form-control-sm" formControlName="groupSaliva">

          <!-- <option value="null"></option> -->
          <option value="all" selected>ทั้งหมด</option>
          <option value="Secretor gr.A">Secretor Group A</option>
          <option value="Secretor gr.B">Secretor Group B</option>
          <option value="Secretor gr.AB">Secretor Group AB</option>
          <option value="Secretor gr.O">Secretor Group O</option>
          <option value="Non-Secretor">Non-secretor</option>
        </select>


      </div>
      <div class="col-2">
        <br>
        <button type="submit" class="btn btn-sm btn-outline-primary">ค้นหา</button>
      </div>

    </div>
  </form>
  <br>

  <div *ngIf="isFound; else notFound">

    <table class="table table-sm table-striped table-bordered table-hover">
      <thead class="thead-table">
        <tr>
          <th border="1">
            <button type="button" class="btn btn-sm btn-primary" (click)="removeCondition()">ลบ</button>
          </th>
          <th colspan="6" border="1">การตรวจหมู่เลือดเอบีโอ</th>
          <th colspan="6" border="1">การตรวจน้ำลาย</th>
          <th rowspan="3" style="text-align:center; vertical-align:middle;">การแปลผล</th>
        </tr>
        <tr>
          <th rowspan="2" style="text-align:center; vertical-align:middle;">
            <label class="custom-control custom-checkbox">
              <input name="selectAll" type="checkbox" class="custom-control-input" (change)="selectAll($event)">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description"></span>
            </label>
          </th>
          <th colspan="3" border="1">Cell Grouping</th>
          <th colspan="3" border="1">Serum Grouping</th>
          <th colspan="3" border="1">Controls</th>
          <th colspan="3" border="1">Tests</th>

        </tr>
        <tr>


          <th>Anti-A</th>
          <th>Anti-B</th>
          <th>Anti-AB</th>

          <th>A cells</th>
          <th>B cells</th>
          <th>O cells</th>

          <!-- <th>การแปลผล</th> -->

          <th>Secretor</th>
          <th>Non-Secretor</th>
          <th>NSS</th>

          <th>Anti-A</th>
          <th>Anti-B</th>
          <th>Anti-H</th>

          <!-- <th>การแปลผล</th> -->

        </tr>
      </thead>

      <tbody>


        <tr *ngFor="let condition of rule;">
          <td>

            <label class="custom-control custom-checkbox">
              <input name="checkbox" type="checkbox" class="custom-control-input" (change)="selectedUpdate(condition,$event)">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description"></span>

            </label>

          </td>

          <td>{{condition.AntiA}}</td>
          <td>{{condition.AntiB}}</td>
          <td>{{condition.AntiAB}}</td>

          <td>{{condition.Acell}}</td>
          <td>{{condition.Bcell}}</td>
          <td>{{condition.Ocell}}</td>

          <td>
            <div *ngIf="condition.secretor; else showNull">
              {{condition.secretor}}
            </div>
          </td>
          <td>
            <div *ngIf="condition.nonSecretor; else showNull">
              {{condition.nonSecretor}}
            </div>
          </td>
          <td>
            <div *ngIf="condition.nss; else showNull">
              {{condition.nss}}
            </div>
          </td>

          <ng-template #showNull>
            -
          </ng-template>


          <td>{{condition.TestAntiA}}</td>
          <td>{{condition.TestAntiB}}</td>
          <td>{{condition.TestAntiH}}</td>

          <td>{{condition.result}}</td>
        </tr>


      </tbody>
    </table>

  </div>
  <ng-template #notFound>
    <div class="alert alert-warning container" role="alert" style="text-align:center;">
      ไม่พบข้อมูล
    </div>
  </ng-template>


</div>
