<div class="container-fluid">

  <div class="container-fluid">
    <div class="container-fluid" *ngFor="let patient of patients;">
      <h3>{{patient.id}} {{patient.fName}} {{patient.lName}}</h3>
    </div>
    <div class="py-3 border border-primary">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h2 style="color:#365082">ฟีโนไทป์: การตรวจหมู่เลือดเอบีโอ</h2>
            <!-- <div *ngIf="isFound"> -->


            <div class="row">
              <div class="col-6" *ngFor="let aboList of aboLists; let i = index">
                {{aboList.dateTimeNow}}
                <table class="table table-sm table-striped table-bordered table-hover">

                  <thead class="thead-table">
                    <tr>
                      <th colspan="3" border="1">Cell Grouping</th>
                      <th colspan="3" border="1">Serum Grouping</th>
                    </tr>
                    <tr>
                      <th>Anti-A</th>
                      <th>Anti-B</th>
                      <th>Anti-AB</th>

                      <th>A cells</th>
                      <th>B cells</th>
                      <th>O cells</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{aboList.AntiA}}</td>
                      <td>{{aboList.AntiB}}</td>
                      <td>{{aboList.AntiAB}}</td>

                      <td>{{aboList.Acell}}</td>
                      <td>{{aboList.Bcell}}</td>
                      <td>{{aboList.Ocell}}</td>
                      <ng-template #showNull>
                        -
                      </ng-template>
                    </tr>
                    <tr>
                      <td colspan="6" border="1">{{aboList.Note}}</td>
                    </tr>
                    <tr>
                      <td colspan="6" border="1">{{aboList.groupAbo}}</td>
                    </tr>
                  </tbody>
                </table>
                <!--  -->
                <div *ngFor="let listphoto of aboLists_photo; let j = index">
                  <!-- {{i}} {{j}} -->
                  <div class="row" *ngIf="i==j;">
                    <div class="col-4" *ngFor="let photo of listphoto;">
                      <img src={{photo.url}} class="rounded" width="200" height="200">
                    </div>
                  </div>

                </div>
                <br>

                <!--  -->
              </div>

            </div>


          </div>
        </div>
      </div>
    </div>
    <br>


    <div class="py-3 border border-primary"  *ngIf="hasAntibody">
      <div class="container-fluid" >
        <div class="row">
          <div class="col-md-12">
            <h2 style="color:#365082">ฟีโนไทป์: การตรวจกรองแอนติบอดี</h2>
            <!-- <div *ngIf="isFound"> -->

            <div class="row">
              <div class="col-6" *ngFor="let antibodyList of antibodyLists; let i = index">
                {{antibodyList.dateTimeNow}}
                <table class="table table-sm table-striped table-bordered table-hover">

                  <thead class="thead-table">
                    <tr>
                      <th colspan="4" border="1">Screening cells O
                        <sub>1</sub>
                      </th>
                      <th colspan="4" border="1">Screening cells O
                        <sub>2</sub>
                      </th>
                    </tr>
                    <tr>
                      <th>RT*</th>
                      <th>37
                        <sup>o</sup>C</th>
                      <th>AHG</th>
                      <th>CCC</th>

                      <th>RT*</th>
                      <th>37
                        <sup>o</sup>C</th>
                      <th>AHG</th>
                      <th>CCC</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{antibodyList.rt1}}</td>
                      <td>{{antibodyList.c1}}</td>
                      <td>{{antibodyList.ahg1}}</td>
                      <td>{{antibodyList.ccc1}}</td>
                      <td>{{antibodyList.rt1}}</td>
                      <td>{{antibodyList.c2}}</td>
                      <td>{{antibodyList.ahg2}}</td>
                      <td>{{antibodyList.ccc2}}</td>
                      <ng-template #showNull>
                        -
                      </ng-template>
                    </tr>
                    <tr>
                      <td colspan="8" border="1">{{antibodyList.Note}}</td>
                    </tr>
                    <tr>
                      <td colspan="8" border="1">{{antibodyList.antibody}}</td>
                    </tr>
                  </tbody>
                </table>
                <!--  -->
                <div *ngFor="let listphoto of antibodyLists_photo; let j = index">
                  <!-- {{i}} {{j}} -->
                  <div class="row" *ngIf="i==j;">
                    <div class="col-4" *ngFor="let photo of listphoto;">
                      <img src={{photo.url}} class="rounded" width="200" height="200">
                    </div>
                  </div>

                </div>
                <br>

                <!--  -->
              </div>

            </div>


          </div>
        </div>
      </div>
    </div>

    <br>

    <div class="py-3 border border-primary" *ngIf="hasSaliva">
      <div class="container-fluid" >
        <div class="row">
          <div class="col-md-12">
            <h2 style="color:#365082">ฟีโนไทป์: การตรวจน้ำลาย</h2>
            <!-- <div *ngIf="isFound"> -->

            <div class="row">
              <div class="col-6" *ngFor="let salivaList of salivaLists; let i = index">
                {{salivaList.dateTimeNow}}
                <table class="table table-sm table-striped table-bordered table-hover">

                  <thead class="thead-table">
                    <tr>
                      <th colspan="3" border="1">Controls</th>
                      <th colspan="3" border="1">Tests</th>
                    </tr>
                    <tr>
                      <th>Secretor</th>
                      <th>Non-secretor</th>
                      <th>NSS</th>

                      <th>Anti-A</th>
                      <th>Anti-B</th>
                      <th>Anti-H lectin</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{salivaList.secretor}}</td>
                      <td>{{salivaList.nonSecretor}}</td>
                      <td>{{salivaList.nss}}</td>

                      <td>{{salivaList.TestAntiA}}</td>
                      <td>{{salivaList.TestAntiB}}</td>
                      <td>{{salivaList.TestAntiH}}</td>
                      <ng-template #showNull>
                        -
                      </ng-template>
                    </tr>
                    <tr>
                      <td colspan="6" border="1">{{salivaList.Note}}</td>
                    </tr>
                    <tr>
                      <td colspan="6" border="1">{{salivaList.groupSaliva}}</td>
                    </tr>
                  </tbody>
                </table>
                <!--  -->
                <div *ngFor="let listphoto of salivaLists_photo; let j = index">
                  <!-- {{i}} {{j}} -->
                  <div class="row" *ngIf="i==j;">
                    <div class="col-4" *ngFor="let photo of listphoto;">
                      <img src={{photo.url}} class="rounded" width="200" height="200">
                    </div>
                  </div>

                </div>
                <br>

                <!--  -->
              </div>

            </div>


          </div>
        </div>
      </div>
    </div>
    <br>


    <div class="row">
      <div class="col text-center">
        <a class="text-muted" [routerLink]="['/test/detail']">ย้อนกลับ</a>
      </div>
    </div>

  </div>
</div>

<br>